{{ bootstrap.load_css() }}
{{ bootstrap.load_js() }}
<!-- Lädt Bootstrap CSS und JavaScript für Styling und Funktionalität -->

{% block content %}
<!-- Beginnt den Block für den Hauptinhalt, der in die Basisvorlage eingefügt wird -->

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <!-- Titel der Seite -->
    </head>
    <body style="background-color: #090233; color: black;">
        <!-- Dunkler Hintergrund und schwarzer Text -->

        <div class="d-flex flex-column justify-content-center align-items-center vh-100">
            <!-- Flexbox-Container, der den Inhalt vertikal und horizontal zentriert -->
            
            <div class="p-3 bg-light rounded shadow" style="width: 90%; background-color: #090233; color: black;">
                <!-- Container mit Polsterung, abgerundeten Ecken, Schatten und dunklem Hintergrund -->

                <div class="mb-3">
                    <!-- Abstand nach unten -->

                    <form method="post">
                        <!-- Formular, das Daten per POST-Methode sendet -->
                        <h1 style="font-size: 1.2rem; text-align: center; color: #000000;">Bitte Karte eingeben</h1>
                        <!-- Überschrift mit mittlerer Schriftgröße, zentriertem Text und schwarzer Farbe -->
                        <input class="form-control form-control-sm" type="password" name="kartennummer" id="kartennummer" style="font-size: 0.9rem;">
                        <!-- Eingabefeld für die Kartennummer mit Bootstrap-Klassen für Styling -->
                        <br>
                        <button type="submit" class="btn btn-primary w-100" style="font-size: 0.9rem; padding: 0.6rem;">Absenden</button>
                        <!-- Absenden-Button mit Bootstrap-Klassen für Styling -->
                    </form>

                    <!-- Abstand zwischen den Buttons angepasst -->
                    <div class="mt-2">
                        <!-- Abstand nach oben -->
                        <a href="{{url_for('pinLogin')}}" class="btn btn-success w-100" style="font-size: 0.9rem; padding: 0.6rem;">Anmeldung mit PIN</a>
                        <!-- Link zur PIN-Anmeldeseite mit grünem Button-Styling -->
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>
{% endblock %}
<!-- Ende des Inhaltsblocks -->
